.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  padding: 50px 30px;
  overflow-y: scroll;

  &.is-hidden {
    display: none;
  }
}

.modal {
  padding: 20px;
  background-color: #fff;

  @media screen and (min-width: 600px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    max-width: 500px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    top: 30%;
  }
  @media screen and (min-width: 1024px) {
    top: 40%;
  }
}
